# Ignore vim temp files
*~
*.swp

# Ignore build products
build_config.mk

# Ignore object files
*.o

# Ignore binaries
statify
statifyd
libstatify.a

# Don't ignore the files in the subdirectory of include/blastify
!statify/


