# Ignore vim temp files
*~

# Ignore build products
build_config.mk

# Ignore object files
*.o

# Ignore binaries
blastify
blastifyd
libblastify.a

# Don't ignore the files in the subdirectory of include/blastify
!blastify/


