# Ignore vim temp files
*~
*.swp

# Ignore build products
build_config.mk

# Ignore object files
*.o

# Ignore binaries
demo
libstatify.a
statify
statifyd

# Don't ignore the files in the subdirectory of include/statify
!statify/


